@font-face {
  font-family: "Cormorant-Garamond"; 
  src: url('../assets/fonts//CormorantGaramond-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url('../assets/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CormorantGaramond-Med-Italic";
  src: url('../assets/fonts/CormorantGaramond-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}